@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:ital@1&display=swap");
$bg: #bde5e7;
$blue-noir: #122940;
$blue-fonce: #004f73;
$grey: #6f6f6e;
$title: "Montserrat", sans-serif;
$txt: "Roboto", sans-serif;


